.display-profile-pic {
    width: 70px;
    height: 70px;
  }

  .card-details {
    list-style: none;
    padding: 0;
  }
  
  .card-details li {
    display: flex;
    margin-bottom: 8px; /* Adjust as needed */
  }
  
  .card-details .title {
    flex: 0 0 120px; /* Adjust as needed */
  }
  
  .card-details .value {
    flex: 1;
  }

  .heartbreak{
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    width: 65%;
    margin: 0 auto; /* Automatically center the element horizontally */
}
#footer {
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 1500px;
  height: 40px;
  color: white;
}
