.pokemon-logo,
.first-page-options,
.welcome,
.login-container,
.sign-up-container {
    position: absolute;
    left: 50%;

}

.welcome,
.logo,
.login-container input[type="text"],
.login-container input[type="password"],
.sign-up-container input[type="text"],
.sign-up-container input[type="password"],
.sign-up-container input[type="date"],
.login-container button,
.sign-up-container button {
    width: 100%;
}

.pokemon-logo,
.first-page-options,
.welcome {
    transform: translate(-50%);

}

.welcome,
.login-container input[type="text"],
.login-container input[type="password"],
.sign-up-container input[type="text"],
.sign-up-container input[type="password"],
.sign-up-container input[type="date"],
.login-container button,
.sign-up-container button,
.sign-up-container {
    padding: 10px;
}

.welcome {
    color: rgb(151, 2, 49);
    margin-top: 125px;
    margin-left: 25%;

}

.logo {
    margin: 0px;
    padding: 30px;
}


.pokemon-logo,
.first-page-options,
.login-container
{
width: 25%;
}

body {
    background-image: url("/images/background-2.png");
    /* background-image: url("/images/pokemon-background.jpeg"); */
    background-repeat: no-repeat;
    background-size: cover;

}

.first-page-options,
.login-container,
.sign-up-container h2 {
    text-align: center;
}

.first-page-options {
    background-color: rgba(255, 208, 1, 0.845);
    margin-top: 50px;
    top: 30%;
}

.first-page-options,
.login-container {
    padding: 2%;
    border-radius: 10%;
    font-size: 20px;
    text-wrap: wrap;
}

.button {
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}

.button,
.sign-up-container {
    margin-top: 3%;
}


.signup-button,
.login-button {
    background-color: rgb(0, 128, 234);
    width: 125px;


}

.guest-button {
    background-color: rgb(93, 204, 53);
    width: 200px;

}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Login page */
.login-container,
.sign-up-container {

    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 208, 1);

}

.login-container,
.sign-up-container h2 {
    margin-bottom: 20px;
    margin-top: 0px;
}

Label,
.login-container button,
.sign-up-container button,
.sign-up-container {
    font-weight: bold;

}

label {
    padding: 5px;
    text-align: left;
}

.login-container input[type="text"],
.login-container input[type="password"],
.sign-up-container input[type="text"],
.sign-up-container input[type="password"],
.sign-up-container input[type="date"] {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-container button,
.sign-up-container button {
    /* font-size: 17px; */

    background-color: #007bff;
    border: none;

    color: #fff;
    cursor: pointer;
}

.login-container button,
.sign-up-container button,
.login-container input[type="password"],
.sign-up-container input[type="text"],
.sign-up-container input[type="password"],
.sign-up-container input[type="date"] {
    border-radius: 3px;
}

.login-container button:hover,
.sign-up-container button:hover {
    background-color: #0056b3;
}

.sign-up-container {
    width: 50%;
    height: 60%;
    border-radius: 10px;
}

a.button.back-button {
    font-weight: bolder;
    margin: 0%;
    background-color: rgba(138, 249, 175, 0.546);
    color: rgb(0, 115, 39);
}

a.button.back-index-button {
    display: flexbox inline-block;
} */